.header{
background-color: rgb(27, 71, 71);
height: 100px;
}

.header__header{
margin-right: 20px;
color: blueviolet;
}

.span1{
color: rgba(27, 94, 7, 0.534);
}

.page{ 
align-items: center;display: flex;
font-size: 30px;
font-weight: 1000;
letter-spacing: 1.6px;
text-transform: uppercase;
transition: color .4s ease;
white-space: nowrap;
color: rgb(241, 124, 14);
margin-right: 60px;
}

.pages__list{
list-style: none;
display: flex;
justify-content: flex-start;
}

.shop{
background-color: rgb(13, 61, 51);
height: 100%;
padding-bottom: 100px;
}

.main__text{
font-size: 18px;
line-height: 1.8;
margin-bottom: 10px;
max-width: 650px;
color: rgb(187, 189, 67);
}

footer{
background-color: rgb(92, 60, 60);
}

.main__link{
color: #4db5da;
font-weight: 600;
text-decoration: none;
}


main{
padding-bottom: 100px;
padding-top: 100px;
background-color:rgb(165, 148, 0) ;
}

.main__headers{
color: yellow;
}

.polit__h1{
font-size: 30px;
line-height: 1.8;
margin-bottom: 10px;
max-width: 650px;
color: rgb(8, 53, 255);
}

.polit__link{
    font-size: 30px;
    line-height: 1.8;
    margin-bottom: 10px;
    max-width: 650px;
    color: rgb(255, 10, 112);
}

.polit__h2{
    font-size: 30px;
    line-height: 1.8;
    margin-bottom: 10px;
    max-width: 650px;
    color: rgb(255, 8, 8);
}

.polit__p{
    font-size: 30px;
    line-height: 1.8;
    margin-bottom: 10px;
    max-width: 650px;
    color: rgb(127, 255, 8);
}